strict-ssl=false
init.author.name=Joshua T Kalis
init.author.email=kalisjoshua@gmail.com
init.author.url=http://kalisjoshua.me
init.license=MIT
init.version=0.1.0
registry=http://registry.npmjs.org/
ca=
//registry.npmjs.org/:_authToken=fb5c39aa-4d93-4d23-a83a-8785fc7a6a4a
@luxui:registry=http://registry.npmjs.org/
