strict-ssl=false
init.author.name=Joshua T Kalis
init.author.email=kalisjoshua@gmail.com
init.author.url=http://kalisjoshua.me
registry=http://registry.npmjs.org/
ca=null
//registry.npmjs.org/:_authToken=04b77edc-53ed-4271-9618-fbdcbd29c4dc
init.license=MIT
init.version=0.1.0

